<KoenigCard
    @icon="ellexx/card-indicator-mnf"
    @class="kg-card-hover"
    @isSelected={{this.isSelected}}
    @isEditing={{this.isEditing}}
    @selectCard={{action this.selectCard}}
    @deselectCard={{action this.deselectCard}}
    @editCard={{action this.editCard}}
    @hasEditMode={{false}}
    @editor={{this.editor}}
>

    <div class="mb4">
        <div class="flex-row">
            <input type="checkbox" name="mnf_generosity_display" checked={{this.payload.mnf_generosity_display}} {{on "blur" this.updateField}} />
            <label>Knausrig</label>
            <input type="range" name="mnf_generosity" min="0" max="10" value={{this.payload.mnf_generosity}} {{on "blur" this.updateField}} />
            <label>Grosszügig</label>
        </div>
        <div class="flex-row">
            <input type="checkbox" name="mnf_assets_display" checked={{this.payload.mnf_assets_display}} {{on "blur" this.updateField}} />
            <label>Sparkonto</label>
            <input type="range" name="mnf_assets" min="0" max="10" value={{this.payload.mnf_assets}} {{on "blur" this.updateField}} />
            <label>Aktion</label>
        </div>
        <div class="flex-row">
            <input type="checkbox" name="mnf_decision_display" checked={{this.payload.mnf_decision_display}} {{on "blur" this.updateField}} />
            <label>Haushaltsbuch</label>
            <input type="range" name="mnf_decision" min="0" max="10" value={{this.payload.mnf_decision}} {{on "blur" this.updateField}} />
            <label>Bauchgefühl</label>
        </div>
        <div class="flex-row">
            <input type="checkbox" name="mnf_currency_display" checked={{this.payload.mnf_currency_display}} {{on "blur" this.updateField}} />
            <label>Franken</label>
            <input type="range" name="mnf_currency" min="0" max="10" value={{this.payload.mnf_currency}} {{on "blur" this.updateField}} />
            <label>Bitcoin</label>
        </div>
    </div>
    <div class="flex-row">
        <input
            placeholder="Alter"
            type="number"
            class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
            name="mnf_age"
            value={{this.payload.mnf_age}}
            {{on "blur" this.updateField}}
        />
    </div>
    <div class="flex-row">
        <input
            type="text"
            placeholder="Ort"
            class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
            name="mnf_job"
            value={{this.payload.mnf_job}}
            {{on "blur" this.updateField}}
        />
    </div>
    <div class="flex-row">
        <input
            type="text"
            placeholder="Grösster Ausgabeposten<"
            class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
            name="mnf_largest_expense_item"
            value={{this.payload.mnf_largest_expense_item}}
            {{on "blur" this.updateField}}
        />
    </div>
    <div class="flex-row">
        <input
            type="text"
            placeholder="Einkommen"
            class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
            name="mnf_income"
            value={{this.payload.mnf_income}}
            {{on "blur" this.updateField}}
        />
    </div>
</KoenigCard>