<KoenigCard
    @icon="ellexx/card-indicator-zdt"
    @class="kg-card-hover"
    @isSelected={{this.isSelected}}
    @isEditing={{this.isEditing}}
    @selectCard={{action this.selectCard}}
    @deselectCard={{action this.deselectCard}}
    @editCard={{action this.editCard}}
    @hasEditMode={{false}}
    @editor={{this.editor}}
>

    <div class="mb4">
        <input
            type="text"
            maxlength="{{this.zdt_number_max}}"
            placeholder="Zahl"
            class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
            name="zdt_number"
            value={{this.payload.zdt_number}}
            {{on "input" this.updateFieldWithLength}}
        >
        <div class="tr f-small">{{this.zdt_number_length}} / {{this.zdt_number_max}}</div>
    </div>
    <div class="mb4">
        <textarea
            placeholder="Inhalt Kontext"
            maxlength="{{this.zdt_content_max}}"
            class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
            name="zdt_content"
            value={{this.payload.zdt_content}}
            {{on "input" this.updateFieldWithLength}}
        ></textarea>
        <div class="tr f-small">{{this.zdt_content_length}} / {{this.zdt_content_max}}</div>
    </div>
    <div>
        <input
            type="text"
            placeholder="Quelle"
            class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
            name="zdt_source"
            value={{this.payload.zdt_source}}
            {{on "blur" this.updateField}}
        />
    </div>
    <div>
        <input
            type="text"
            placeholder="Link"
            class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
            name="zdt_link"
            value={{this.payload.zdt_link}}
            {{on "blur" this.updateLink}}
        />
        {{#if zdt_link_invalid}}
            <div class="tr f-small red pb4">URL is nicht gültig</div>
        {{/if}}
    </div>
</KoenigCard>