<KoenigCard
    @class="kg-card-hover"
    @isSelected={{this.isSelected}}
    @isEditing={{this.isEditing}}
    @selectCard={{action this.selectCard}}
    @deselectCard={{action this.deselectCard}}
    @editCard={{action this.editCard}}
    @hasEditMode={{false}}
    @editor={{this.editor}}
>
    <div class="m4 pa4 ba">
        <h6>Money Talk Facts</h6>
        <p></p>
        <p></p>
        <div class="underline">Sprache</div>
        <p></p>
        <div>
            <input
                type="radio"
                id="lang_de"
                value="de"
                name='mtf_lang'
                checked={{eq 'de' this.payload.mtf_lang}}
                {{on "change" this.updateField}}
            >
            <label for="lang_de">Deutsch</label>
            <input
                type="radio"
                id="lang_en"
                value="en"
                name='mtf_lang'
                checked={{eq 'en' this.payload.mtf_lang}}
                {{on "change" this.updateField}}
            >
            <label for="lang_en">Englisch</label>
        </div>
        <p></p>
        <p></p>
        <div class="underline">Persönlichkeit</div>
        <p></p>
        <table>
            <tr>
                <td class="sans-serif"><input
                        type="checkbox"
                        name="mtf_generosity_display"
                        checked={{this.payload.mtf_generosity_display}}
                        {{on "change" this.updateCheckbox}}
                    /></td>
                <td class="sans-serif tr">Knauserig</td>
                <td class="sans-serif tc"><input
                        type="range"
                        name="mtf_generosity"
                        min="0"
                        max="10"
                        value={{this.payload.mtf_generosity}}
                        {{on "blur" this.updateField}}
                    /></td>
                <td class="sans-serif tl"><label>Grosszügig</label></td>
            </tr>
            <tr>
                <td class="sans-serif"><input
                        type="checkbox"
                        name="mtf_assets_display"
                        checked={{this.payload.mtf_assets_display}}
                        {{on "change" this.updateCheckbox}}
                    /></td>
                <td class="sans-serif tr"><label>Sparkonto</label></td>
                <td class="sans-serif tc"><input
                        type="range"
                        name="mtf_assets"
                        min="0"
                        max="10"
                        value={{this.payload.mtf_assets}}
                        {{on "blur" this.updateField}}
                    /></td>
                <td class="sans-serif tl"><label>Aktion</label></td>
            </tr>
            <tr>
                <td class="sans-serif"><input
                        type="checkbox"
                        name="mtf_decision_display"
                        checked={{this.payload.mtf_decision_display}}
                        {{on "change" this.updateCheckbox}}
                    /></td>
                <td class="sans-serif tr"><label>Haushaltsbuch</label></td>
                <td class="sans-serif tc"><input
                        type="range"
                        name="mtf_decision"
                        min="0"
                        max="10"
                        value={{this.payload.mtf_decision}}
                        {{on "blur" this.updateField}}
                    /></td>
                <td class="sans-serif tl"><label>Bauchgefühl</label></td>
            </tr>
            <tr>
                <td class="sans-serif"><input
                        type="checkbox"
                        name="mtf_currency_display"
                        checked={{this.payload.mtf_currency_display}}
                        {{on "change" this.updateCheckbox}}
                    /></td>
                <td class="sans-serif tr"><label>Franken</label></td>
                <td class="sans-serif tc"><input
                        type="range"
                        name="mtf_currency"
                        min="0"
                        max="10"
                        value={{this.payload.mtf_currency}}
                        {{on "blur" this.updateField}}
                    /></td>
                <td class="sans-serif tl"><label>Bitcoin</label></td>
            </tr>
        </table>
        <p></p>
        <p></p>
        <div class="underline">Hintergrund</div>
        <p></p>
        <div class="gh-list">
            <div class="gh-list-row">
                <div class="gh-list-cell">
                    Alter :
                </div>
                <div class="gh-list-cell">
                    <input
                        placeholder="Alter"
                        type="number"
                        class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
                        name="mtf_age"
                        value={{this.payload.mtf_age}}
                        {{on "blur" this.updateField}}
                    />
                </div>
            </div>
            <div class="gh-list-row">
                <div class="gh-list-cell">
                    Kinder :
                </div>
                <div class="gh-list-cell">
                    <input
                        placeholder="Kinder"
                        type="number"
                        class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
                        name="mtf_children"
                        value={{this.payload.mtf_children}}
                        {{on "blur" this.updateField}}
                    />
                </div>
            </div>
            <div class="gh-list-row">
                <div class="gh-list-cell">
                    Ort :
                </div>
                <div class="gh-list-cell">
                    <input
                        type="text"
                        placeholder="Ort"
                        class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
                        name="mtf_location"
                        value={{this.payload.mtf_location}}
                        {{on "blur" this.updateField}}
                    />
                </div>
            </div>
            <div class="gh-list-row">
                <div class="gh-list-cell">
                    Grösster Ausgabeposten :
                </div>
                <div class="gh-list-cell">
                    <input
                        type="text"
                        placeholder="Grösster Ausgabeposten"
                        class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
                        name="mtf_largest_expense_item"
                        value={{this.payload.mtf_largest_expense_item}}
                        {{on "blur" this.updateField}}
                    />
                </div>
            </div>
            <div class="gh-list-row">
                <div class="gh-list-cell gh-list-cellwidth-1-3">
                    Einkommen :
                </div>
                <div class="gh-list-cell">
                    <input
                        type="text"
                        placeholder="Einkommen"
                        class="miw-100 pa2 ba br2 b--lightgrey-d2 f7 form-text lh-title tracked-2 h10 mb2"
                        name="mtf_income"
                        value={{this.payload.mtf_income}}
                        {{on "blur" this.updateField}}
                    />
                </div>
            </div>
        </div>
    </div>
</KoenigCard>